Inline style {

}

.refresh-form div.pnl-ms-crm-InlineTab-Read {

}

body {
    direction: ltr;
    cursor: default;
}

body, input, select, textarea, table.ms-crm-Loading, div.ms-crm-Grid-Title {
    font-family: Segoe UI,Tahoma,Arial;
    font-size: 11px;
}

